*{
    margin: 0%;
    padding: 0%;
}

#headertitle{
    color: red;
}

div{
    position:  relative;
}

.text-overlay {
    position: absolute;
    top: 230;
    left: 20;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 100;
    color: 
  white;
    backdrop-filter: blur(8px) brightness(80%);
  }

#container{
    background-color: rgb(192, 192, 243);
}

#image{
    margin: 50px;
    padding-right: 50px;
    transition: 0.4s;
    border-radius: 107px 107px 107px 107px;
    -moz-border-radius: 107px 107px 107px 107px;
    -webkit-border-radius: 107px 107px 107px 107px;
    border: 0px solid #000000;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#image:hover{
    width: 520px;
    height: 520px;
    transform: rotate(20deg);
}
